<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                {{#with post}}
                <div class="section-row sticky-container">
                    <div class="main-post">
                        {{{content}}}
                    </div>
                    <div class="post-shares sticky-shares">
                        <a href="/posts/{{slug}}/like" class="like"><i class="fa fa-thumbs-up"
                                aria-hidden="true"></i></a>
                        <div class="break"></div>
                        <a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>

                    </div>
                </div>

                <!-- ad -->
                <div class="section-row text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="/img/ad-2.jpg" alt="">
                    </a>
                </div>
                <!-- ad -->

                <!-- author -->
                <div class="section-row">
                    <div class="post-author">
                        {{#with author}}


                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{{avatar}}" alt="{{fullname}}">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>{{#if pseudonym}}
                                        {{pseudonym}}
                                        {{else}}
                                        {{fullname}}
                                        {{/if}}</h3>
                                </div>
                                <p>{{desc}}</p>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                <!-- /author -->

                <!-- comments -->
                <div class="section-row">
                    <div class="section-title">
                        <h2>{{commentCount}} comments</h2>
                    </div>

                    <div class="post-comments">
                        {{#each comments}}
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                {{#with user}}<img class="media-object" src="{{avatar}}" alt="{{fullname}}" />{{/with}}
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    {{#with user}} <h4>{{#if pseudonym}}
                                        {{pseudonym}}
                                        {{else}}
                                        {{fullname}}
                                        {{/if}}</h4>{{/with}}
                                    <span class="time">{{date createdAt "MMMM D, YYYY"}}</span>
                                    <a data-toggle="collapse" href="#comment_{{@index}}" class="reply">Reply</a>
                                </div>
                                <p>{{content}}</p>

                                {{#each replyComments}}
                                <!-- comment -->
                                <div class="media">
                                    <div class="media-left">
                                        {{#with user}}<img class="media-object" src="{{avatar}}"
                                            alt="{{fullname}}">{{/with}}
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            {{#with user}} <h4>{{#if pseudonym}}
                                                {{pseudonym}}
                                                {{else}}
                                                {{fullname}}
                                                {{/if}}</h4>{{/with}}
                                            <span class="time">{{date createdAt "MMMM D, YYYY"}}</span>
                                            <a data-toggle="collapse" href="#comment_{{@index}}" class="reply">Reply</a>
                                        </div>
                                        <p>{{content}}</p>


                                    </div>
                                </div>
                                <!-- /comment -->
                                {{/each}}
                                <div class="collapse mb-3" id="comment_{{@index}}">
                                    <form action="/posts/{{../slug}}/comment" method="POST">
                                        <input name="replyCommentId" value={{_id}} type="text" hidden>
                                        <input name="content" type="text" class="input mb-2">
                                        <button class="primary-button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                        {{/each}}



                    </div>
                </div>
                <!-- /comments -->

                <!-- reply -->
                <div class="section-row">
                    <div class="section-title">
                        <h2>Leave a reply</h2>
                        <p>your email address will not be published. required fields are marked *</p>
                    </div>
                    <form class="post-reply" method="POST" action="/posts/{{slug}}/comment">

                        <div class="row">
                            {{#if ../user}}
                            {{else}}
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Name *</span>
                                    <input class="input" type="text" name="name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Email *</span>
                                    <input class="input" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Website</span>
                                    <input class="input" type="text" name="website">
                                </div>
                            </div>
                            {{/if}}
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="content" placeholder="Message"></textarea>
                                </div>
                                <button class="primary-button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /reply -->
                {{/with}}
            </div>
            <!-- /Post content -->

            {{> aside}}
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>